.backdrop1 {
  position: absolute;
  width: 415px;
  height: 415px;
  left: 5%;
  top: 0;
  transform: translateX(-50%);

  background: rgba(130, 255, 247, 0.3);
  filter: blur(250px);
  z-index: -999;
}

.backdrop2 {
  position: absolute;
  width: 415px;
  height: 415px;
  right: 5%;
  top: 40%;
  transform: translateX(50%);

  background: rgba(255, 190, 130, 0.5);
  filter: blur(250px);
  z-index: -999;
}

@media screen and (max-width: 768px) {
  .backdrop2 {
    width: 200px;
    height: 400px;
    right: 35%;
  }
}
