img {
  width: 100%;
}

.portfolio-section + .portfolio-section > img {
  order: 1;
}

.blur-bg {
  background: rgba(251, 251, 251, 0.7);
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 3px;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}
